<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nordic MotorHome Rental</title>
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<div id="wrapperH1">
    <h1 id="h1"> Welcome to Nordic Motor home Rental</h1>
</div>



<body background="/background.jpg">

<ul>
    <li><img src="/NMRfamilylogowhite.png" width="100px" height="50px"></li>
    <li><a class="active" href="/" accesskey="h">Home</a> </li>
    <li><a href="/Customer" accesskey="c">Customer</a></li>
    <li><a href="/MotorHome" accesskey="e">Motor homes</a> </li>
    <li><a href="/Contract" accesskey="t">Contracts</a></li>
    <li><a href="/Repair" accesskey="r">Repairs</a></li>
    <li><a href="/Employee" accesskey="e">Employees</a> </li>
</ul>

<br/>

<div id="WrapperTilMenu" class="split">
    <a href="/Customer">
        <img src="customer.jpg" width="200px" height="100">
    </a>

    <form action="/Customer" method="get">
        <input class="btn" type="submit" value="For customer menu click here">
    </form>


    <div id="WrapperTilMotorhome">
        <a href="/MotorHome">
            <img src="MotorHome.png" width="200px" height="100px">
        </a>
        <form action="/MotorHome" method="get">
            <input class="btn" type="submit" value="For motor home menu click here">
        </form>
    </div>


    <a href="/Employee">
        <img src="Employee.png" width="200px" height="100px">
    </a>
    <form action="/Employee" >
        <input class="btn" type="submit" value="For employee menu click here">
    </form>


    <div id="WrapperTilRepair">
        <a href="/Repair">
            <img src="/repair.png" width="200px" height="100px">
        </a>
        <form action="/Repair" method="get">
            <input class="btn" type="submit" value="For repair menu click here">
        </form>
    </div>


    <a href="/Contract" style="float: right">
        <img src="/Contract.png" width="200px" height="100px">
    </a>
    <form action="/Contract" method="get">
        <input class ="btn" style="float: right" type="submit" value="For contract menu click here">
    </form>

</div>



</body>
</html>