<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<div id="wrapperH1">
    <h1 id="h1"> Nordic Motorhome Rental</h1>
</div>

<body background="/background.jpg">
<ul>
    <li><img src="/NMRfamilylogowhite.png" width="100px" height="50px"></li>
    <li><a href="/" accesskey="h">Home</a> </li>
    <li><a href="/Customer" accesskey="c">Customer</a></li>
    <li><a href="/MotorHome" accesskey="m">Motor homes</a></li>
    <li><a href="/Contract" accesskey="t">Contracts</a></li>
    <li><a href="/Repair" accesskey="r">Repairs</a></li>
    <li><a class="active" href="/Employee" accesskey="e">Employees</a> </li>
</ul>
<h1></h1>

<form action="/AddEmployee" method="post">
    <table id="tableMid">
        <th colspan="2" style="text-align: center">Enter the information on the new employee</th>
        <tr>
            <td><label style="font-size: 20px"> Enter title here </label></td>
            <td><input type="text" name="title" placeholder="Title"></td>
        </tr>

        <tr>
            <td><label style="font-size: 20px"> Enter name here</label></td>
            <td><input type="text" name="name" placeholder="Name"></td>
        </tr>

        <tr>
            <td><label style="font-size: 20px"> Enter address here </label></td>
            <td><input type="text" name="address" placeholder="Address"></td>
        </tr>

        <tr>
            <td><label style="font-size: 20px"> Enter zip code here</label></td>
            <td><input type="text" name="zipCode" placeholder="Zip code"></td>
        </tr>

        <tr>
            <td><label style="font-size: 20px"> Enter personal number here</label></td>
            <td><input type="text" name="CPR" placeholder="Personal number"></td>
        </tr>

    </table>
    <input type="submit" style="position: relative; left: 47.5%" value="Add new employee" onclick="alert('You have successfully added an new employee')">

</form>

</body>
</html>