<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Contracts</title>
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<div id="wrapperH1">
    <h1 id="h1"> Nordic Motorhome Rental</h1>
</div>

<body background="/background.jpg">
<ul>
    <li><img src="/NMRfamilylogowhite.png" width="100px" height="50px"></li>
    <li><a href="/" accesskey="h">Home</a> </li>
    <li><a href="/Customer" accesskey="c">Customer</a></li>
    <li><a href="/MotorHome" accesskey="m">Motor homes</a></li>
    <li><a class="active" href="/Contract" accesskey="t">Contracts</a></li>
    <li><a href="/Repair" accesskey="r">Repairs</a></li>
    <li><a href="/Employee" accesskey="e">Employees</a> </li>
</ul>
<form th:action="@{'/AddContract/'+${motorhome.motorHomeID}}" method="post">
<table id="tableMid">


        <tr>
            <td><label style="font-size: 20px"> Enter employeeID</label></td>
            <td><input type="text" name="employeeID" placeholder="Employee ID"></td>
        </tr>

        <tr>
            <td><label style="font-size: 20px"> Enter customer ID </label></td>
            <td><input type="text" name="customerID" placeholder="Customer ID"></td>
        </tr>

        <tr>
            <td><label style="font-size: 20px"> Enter motorhome ID</label></td>
            <td><input type="text" name="motorHomeID" th:value="${motorhome.motorHomeID}" readonly ></td>
        </tr>

        <tr>
            <td><label style="font-size: 20px"> Enter the quantity of extra equipment</label></td>
            <td><input type="text" name="extraEquipment" placeholder="Extra equipment"></td>
        </tr>

        <tr>
            <td><label style="font-size: 20px"> Enter distance to pick up location from NMR office*</label></td>
            <td><input type="text" name="pickUpKM" placeholder="Ex. 20" ></td>
        </tr>

        <tr>
            <td><label style="font-size: 20px"> Enter distance from drop off location to NMR office*</label></td>
            <td><input type="text" name="dropOffKM" placeholder="Ex. 20"></td>
        </tr>

        <tr>
            <td><label style="font-size: 20px"> Enter start date</label></td>
            <td><input type="Date" pattern="yyyy-MM-dd" name="startDate" placeholder="Start date"></td>
        </tr>

        <tr>
            <td><label style="font-size: 20px"> Enter end date</label></td>
            <td><input type="Date" pattern="yyyy-MM-dd" name="endDate" placeholder="End date"></td>
        </tr>

        <tr>
            <td><label style="font-size: 20px">Choose the season</label></td>
            <td><label style="font-size: 20px"> low season</label>
        <input type="radio" name="season" value="0">
        <label style="font-size: 20px"> middle season</label>
        <input type="radio" name="season" value="1">
        <label style="font-size: 20px"> peak season</label>
        <input type="radio" name="season" value="2"></td>

        </tr>
        <br/>
</table>
        <input type="submit" value="Add new contract" style="position: relative; left: 25%" onclick="alert('You have successfully added a new contract!')">
    </form>
<p>* Please enter how far * </p>
<p> from our rental office you wish to pick up</p>
<p> or drop off your motor home in kilometers. </p>


</body>
</html>